<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scissors</title>
    <style>

        /* Reset default styles */
        * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        }

        body {
        font-family: Arial, sans-serif;
        background-color: #f2f2f2;
        line-height: 1.5;
        }

        .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
        }

        .error {
        color: red;
        }

        header {
        background-color: #333;
        color: #fff;
        padding: 20px;
        }

        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        nav ul {
            list-style-type: none;
        }

        nav ul li {
            display: inline-block;
            margin-left: 20px;
        }

        nav ul li a {
            color: #fff;
            text-decoration: none;
        }

        .hero {
            text-align: center;
            padding: 100px 0;
        }

        .hero h2 {
            font-size: 36px;
            margin-bottom: 20px;
        }

        .hero p {
            margin-bottom: 40px;
        }

        #longUrlInput {
            width: 80%;
            padding: 10px;
            font-size: 16px;
        }

        #errorMessage {
            margin-top: 10px;
        }

        button[type="submit"] {
            background-color: #007bff;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            font-size: 16px;
            cursor: pointer;
        }

        button[type="submit"]:hover {
            background-color: #0056b3;
        }

        #shortUrl {
            margin-top: 20px;
            padding: 10px;
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        #shortUrl:hover {
            border: 1px solid #007bff;
        }

        #shortUrl:focus {
            outline: none;
            border: 1px solid #007bff;
        }

        #qrCode {
            margin-top: 20px;
        }

        #qrCode img {
            width: 100%;
        }
        .result {
            text-align: center;
            border-top: 1px solid #ccc;
            margin-top: 5px;
        }

        .list {
            width : 800px;
            margin: 10px auto;
        }

        .list h2{
            font-size: 36px;
            margin-bottom: 20px;
        }

        .list table{
            width: 100%;
            border-collapse: collapse;
            text-align: center;
        }

        .list table thead tr th{
            padding: 10px;
            background-color: #333;
            color: #fff;
        }

        .list table tbody tr td{
            padding: 10px;
            border: 1px solid #ccc;
        }


        footer {
            background-color: #333;
            color: #fff;
            padding: 20px;
            text-align: center;
        }
    </style>
</head>
<body>
    <header>
        <nav>
          <h1>Scissors</h1>
          <ul>
            <li><a href="/signup">Signup</a></li>
            <li><a href="./login">Login</a></li>
          </ul>
        </nav>
    </header>
    <section class="hero">
        <div class="container">
            <h2>Shorten your URLs with Scissors</h2>
            <p>Scissors is the easiest and fastest way to shorten your long URLs.</p>
            <p>Just paste your long URL in the box below and click Shorten.</p>
            <p>But first!, you have to create an account and login</p>
            <div id="qrCode"></div>       
          <form id="shortenForm">
            <input type="text" id="longUrlInput" placeholder="Enter your long URL here" required>
            <button type="submit" id="shorten">Shorten</button>
            <div class="result">
                <a href="#" id="shortUrl"></a>
            </div>
          </form>
          <div class ="list">
            <h2>Shortened links</h2>
            <table id="list_urls">
                <thead>
                    <tr>
                        <th>Long URL</th>
                        <th>Short URL</th>
                        <th>Count</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>http://google.com</td>
                        <td>http://localhost:4000/ghfagj</td>
                        <td>0</td>
                    </tr>
            </table>
          </div>
          
            <div id="qrCode"></div>
          <p id="errorMessage" class="error"></p>
        </div>
    </section>
    <footer>
        <div class="container">
          <p>&copy; 2023 Scissors</p>
        </div>
    </footer>
    
    <script type="text/javascript">
        document.querySelector('#shorten').addEventListener('click', () =>{
            let longUrl = document.querySelector('#longUrlInput').value.trim();
            if (longUrl.length == 0) {
                document.querySelector('#errorMessage').innerHTML = 'Please enter a valid URL';
            } else if (!(longUrl.startsWith('http://') || longUrl.startsWith('https://'))) {
                document.querySelector('#errorMessage').innerHTML = 'Please enter a valid URL';
            } else if (longUrl.length < 5) {
                document.querySelector('#errorMessage').innerHTML = 'Please enter a valid URL';
            } else if (longUrl.length > 2000) {
                document.querySelector('#errorMessage').innerHTML = 'Please enter a valid URL';
            } else if (longUrl.includes(' ')) {
                document.querySelector('#errorMessage').innerHTML = 'Please enter a valid URL';
            } else if (longUrl.includes('http://localhost:4000/')) {
                document.querySelector('#errorMessage').innerHTML = 'Please enter a valid URL';
            } else {
                fetch('http://localhost:4000/api/url/shorten', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json; charset=utf-8'
                    },
                    body: JSON.stringify({longUrl: longUrl})
                })
                .then(res => res.json())
                .then(data => {
                    if (data.error) {
                        document.querySelector('#errorMessage').innerHTML = data.error;
                    } else {
                        document.querySelector('#shortUrl').innerHTML = data.shortUrl;
                        // document.querySelector('#qrCode').innerHTML = `<img src="${data.qrCode}" alt="QR Code">`;
                    }
                })
                .catch(err => {
                    document.querySelector('#errorMessage').innerHTML = err;
                })
            }
        })
    </script> 
</body>
</html>